<<<<<<< HEAD
.search-label {
  width: 320px;
}

.header {
  font-weight: 900;
  font-size: 1.7vw;
  padding-left: 0.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
=======
.search-label{
  width: 320px;
}
>>>>>>> 818ef25c5f4f86fab4c6a7212b847ac52c014a93
