<mat-card-title>Search</mat-card-title>
<mat-form-field class="search-field">
  <mat-label>Enter film title</mat-label>
  <input matInput type="text" [(ngModel)]="searchTitle" (input)="search(searchTitle)">
  <button mat-button *ngIf="searchTitle" matSuffix mat-icon-button aria-label="Clear" (click)="searchTitle=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-list role="list" *ngFor="let film of films$ | async">
  <mat-list-item role="listitem">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item">
      <mat-label>{{film.title}}</mat-label>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
        <button mat-raised-button color="primary" routerLink="{{film.id}}">Edit</button>
        <button mat-raised-button color="warn" (click)="delete(film.id)">Delete</button>
      </div>
    </div>
  </mat-list-item>
</mat-list>
