<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="registration-card">
    <mat-card-title class="title">Menu</mat-card-title>
    <div fxLayout="row" fxLayoutGap="4vw">
      <div class="menu-padding" fxLayout="column" fxLayoutGap="1vw">
        <mat-accordion class="menu">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Profile
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="menu-buttons" fxLayout="column" fxLayoutAlign="center start">
              <button (click)="setActive(menuSelect.Bookmarks)"
                      [style.color]="activeSettings[menuSelect.Bookmarks] ? 'black' : 'grey'" mat-raised-button
                      routerLink="/profile/bookmarks">
                Bookmarks
              </button>
              <button (click)="setActive(menuSelect.Settings)"
                      [style.color]="activeSettings[menuSelect.Settings] ? 'black' : 'grey'"
                      mat-raised-button routerLink="/profile/settings">Settings
              </button>
              <button class="log-out-btn" mat-raised-button routerLink="/home">Log out</button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion class="menu">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tickets
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="menu-buttons" fxLayout="column" fxLayoutAlign="center start">
              <button (click)="setActive(menuSelect.Tickets)"
                      [style.color]="activeSettings[menuSelect.Tickets] ? 'black' : 'grey'" color="white"
                      mat-raised-button
                      routerLink="/profile/tickets">My tickets
              </button>
              <button (click)="setActive(menuSelect.History)"
                      [style.color]="activeSettings[menuSelect.History] ? 'black' : 'grey'" color="white"
                      mat-raised-button
                      routerLink="/profile/history">History
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>
