<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 class="header">Hall</h1>
  <button mat-button color="warn" (click)="onNoClick()">Close</button>
</div>
<div class="hall-form" fxLayout="row" fxLayoutAlign="space-between start">
  <form [formGroup]="addHallInput" (submit)="updateHall()">
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-label class="option-title">Name</mat-label>
      <mat-form-field>
        <mat-label>Enter hall name</mat-label>
        <input formControlName="name" matInput placeholder="Hall 1"
               type="text">
        <mat-error>Hall name is required</mat-error>
      </mat-form-field>
      <mat-label class="option-title">Size</mat-label>
      <mat-form-field>
        <mat-label>Enter hall size</mat-label>
        <input formControlName="size" matInput placeholder="56"
               type="number">
        <mat-error>Hall size is required</mat-error>
      </mat-form-field>
      <mat-label class="option-title">Cinema</mat-label>
      <mat-form-field>
        <mat-label>Select the cinema</mat-label>
        <mat-select formControlName="cinemaName">
          <mat-option *ngFor="let cinema of cinemas" [value]="cinema.name">
            {{cinema.name}}
          </mat-option>
        </mat-select>
        <mat-error>Cinema is required</mat-error>
      </mat-form-field>
      <div class="buttons" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1vh">
        <button mat-button color="primary" type="submit" class="update-btn" [disabled]="!addHallInput.valid">
          Update hall
        </button>
        <button mat-raised-button color="warn" class="update-btn">Delete hall</button>
      </div>
    </div>
  </form>
  <div fxLayout="column" fxLayoutAlign="center start">
    <h1
      class="current-seat">{{(onCurrentSeatPosition) ? 'Current seat: Row ' + onCurrentSeatPosition.row + ', Seat ' + onCurrentSeatPosition.seat : 'Current seat: '}} </h1>
    <app-hall-schema (enterSeatPosition)="displayCurrentSeatPosition($event)"
                     [(schemaData)]="seatsSchema" [activeSeatType]="activeSeatType"></app-hall-schema>
    <ng-container>
      <div class="picker" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1vw">
        <div class="single-picker" fxLayout="column" fxLayoutAlign="center center">
          <div class="seat common" (click)="setActiveSeatType(SeatType.Common)"></div>
          <mat-label>Common</mat-label>
        </div>
        <div class="single-picker" fxLayout="column" fxLayoutAlign="center center">
          <div class="seat sofa" (click)="setActiveSeatType(SeatType.Sofa)"></div>
          <mat-label>Sofa</mat-label>
        </div>
        <div class="single-picker" fxLayout="column" fxLayoutAlign="center center">
          <div class="seat vip" (click)="setActiveSeatType(SeatType.VIP)"></div>
          <mat-label>VIP</mat-label>
        </div>
      </div>
    </ng-container>
  </div>
</div>
