.container {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 4fr 4fr 4fr 1fr 1fr;
  /*grid-template-rows: 2fr 2fr 10fr 3fr 10fr;*/
  grid-template-rows: 5vh 3vh 50vh 5vh 30vh;
}

.navbar{
  place-self: center;
  grid-column: 3 / span 4;
  grid-row: 1 / span 1;
}

.big-carousel{
  grid-column: 2 / span 6;
  grid-row: 3 / span 1;
}

.popular-films{
  max-height: 10vh;
  grid-column: 2 / span 6;
  grid-row: 5 / span 1;
}

.poster{
  height: 20vh;
}
