.container {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 4fr 4fr 2fr;
  grid-template-rows: 2vh 50vh 15vh 30vh;
}

.navbar {
  justify-self: center;
  align-self: center;
  grid-column: 3 / span 2;
  grid-row: 0 / span 1;
}

.big-carousel {
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
}

.popular-films {
  display: flex;
  flex-wrap: wrap;
}

.poster {
  height: 20vh;
}

.item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.layout {
  place-self: center;
  grid-column: 1 / span 6;
  grid-row: 4 / span 1;
}

.item {
  padding: 2vw;
}

.film-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #adabc7;
  text-align: center;
  max-width: 7vw;
}

.today-films-title {
  grid-column: 2 / span 3;
  grid-row: 3;
  justify-self: start;
  align-self: center;
  font-size: 7vh;
  color: #adabc7;
  font-family: 'Poppins', sans-serif;
}
