mat-tab-group {
  width: 40vw;
}

.account-settings {
  padding-top: 2vh;
}

.settings-titles{
  font-size: 0.9vw;
  font-weight: 600;
  padding-right: 2vw;
}

.email-label{
  padding-right: 3.9vw;
}

.current-email{
  padding-right: 2vw;
}

.change-password{
  padding-right: 10.7vw;
}

input {
  height: 2vh;
}
