<div fxLayout="row" fxLayoutAlign="center start" class="container" fxLayoutGap="3vw">
  <mat-card class="main-card">
    <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="clearNextSteps($event)">
      <mat-step label="Cinema and date" [completed]="false" #cinemaStep>
        <div fxLayout="row">
          <app-search-filters [filterHistory]="filter" (applyFilter)="onFilterChange($event)"></app-search-filters>
          <div fxLayout="column" fxLayoutAlign="start center">
            <div *ngFor="let show of shows" class="cinemas">
              <mat-card-title class="date-title">{{show[0]}}</mat-card-title>
              <div *ngFor="let cinema of groupCinemasBy(show[1])">
                <app-cinema-card [showData]="cinema" (setShow)="selectShow($event)"></app-cinema-card>
              </div>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Seats" [completed]="false" #seatsStep>
        <mat-card-title class="title">Select the seats</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-around start">
          <app-hall-schema *ngIf="selectedHall" [(seatPositionsData)]="selectedHall.seatPositions" [userSelect]="true"
                           (userSelectSeats)="updateSelectedSeats($event)" [soldSeats]="soldSeats"></app-hall-schema>
          <div fxLayout="column" fxLayoutAlign="start center" class="tickets-list">
            <button mat-raised-button color="primary" [disabled]="!selectedSeats?.length"
                    class="seat-button confirm-button"
                    (click)="confirmSeats()">Next
            </button>
            <mat-card-title>Tickets</mat-card-title>
            <div *ngFor="let seat of selectedSeats">
              <mat-card-title>
                {{'Row: ' + seat.row + ' Seat: ' + seat.seat + ' x ' + seat.price + '$'}}
              </mat-card-title>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Services" [completed]="false" #servicesStep>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-card-title class="title">Select the services</mat-card-title>
          <button mat-raised-button color="primary" [disabled]="!selectedSeats?.length"
                  class="services-button confirm-button"
                  (click)="confirmServices()">Next
          </button>
          <div *ngFor="let service of selectedHall?.hallServices; let i = index" fxLayout="row"
               fxLayoutAlign="space-between center" class="services-list">
            <mat-card-title class="service">
              {{service.name + ' ' + service.price + '$'}}
              <mat-card-subtitle>{{service.description}}</mat-card-subtitle>
            </mat-card-title>
            <div fxLayout="row" fxLayoutAlign="center center" class="services-counter">
              <button mat-button (click)="setSelectedServiceNumber(service.id, false)">-</button>
              <mat-card-title>{{selectedServices[i] ? selectedServices[i].number : 0}}</mat-card-title>
              <button mat-button (click)="setSelectedServiceNumber(service.id, true)">+</button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Submit" [completed]="false" #confirmStep>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-card-title class="title">Order</mat-card-title>
          <mat-card-title class="subtitle">Tickets</mat-card-title>
          <div class="data-container" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let seat of selectedSeats">
            <mat-card-title>
              {{seat.seatType}}
            </mat-card-title>
            <div>
              <mat-card-title>
                {{seat.price + '$'}}
              </mat-card-title>
            </div>
          </div>
          <mat-card-title class="subtitle" *ngIf="selectedServices?.length">Services</mat-card-title>
          <div *ngFor="let service of selectedServices">
            <div class="data-container" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="service.number > 0">
              <mat-card-title>
                {{getServiceName(service.hallServiceId)}}
              </mat-card-title>
              <div>
                <mat-card-title>
                  {{service.number * getServicePrice(service.hallServiceId) + '$'}}
                </mat-card-title>
              </div>
            </div>
          </div>
          <div class="data-container total-container" fxLayout="row" fxLayoutAlign="end center">
            <mat-card-title class="total">
              Total: {{totalPrice ? totalPrice + '$' : 'error'}}
            </mat-card-title>
          </div>
        </div>
        <button mat-raised-button color="accent" [disabled]="!selectedSeats?.length"
                class="buy-button confirm-button"
                (click)="buy()">Buy
        </button>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
  <mat-card class="film-card">
    <div class="status-windows" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2vh">
      <img [src]="filmPosterUrl" height="350px">
      <mat-card-title>{{filmTitle}}</mat-card-title>
      <div *ngIf="selectedShowId" fxLayout="column" fxLayoutAlign="start center">
        <mat-card-subtitle class="cinema-name">{{selectedShow?.cinemaName}}</mat-card-subtitle>
        <mat-card-subtitle>{{selectedShow?.startDateTime | date}}</mat-card-subtitle>
        <mat-card-subtitle class="show-time">{{getTimeHM(selectedShow?.startDateTime)}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="selectedSeats?.length > 0">{{'Tickets x' + selectedSeats.length}}</mat-card-subtitle>
      </div>
    </div>
  </mat-card>
</div>

