.container {
  padding-top: 10vh;
}

.main-card {
  width: 60vw;
  min-height: 75vh;
}

.film-card {
  width: 20vw;
  height: 75vh;
}

.status-windows {
  padding-top: 4vh;
}

.date-title {
  padding-top: 5vh;
  padding-left: 2vw;
  font-size: 1.3vw;
  font-weight: 700;
}

.cinemas {
  padding-top: 5vh;
}

.cinema-name {
  font-size: 1.1vw;
  font-weight: 400;
}

.show-time {
  font-weight: 600;
}

.title {
  font-weight: 800;
  font-size: 1.3vw;
  padding-bottom: 5vh;
}

.tickets-list {
  min-width: 15vw;
}

.seat-confirm-button {
  margin-left: 15vw;
  margin-bottom: 10vh;
  font-size: 1vw;
  font-weight: 600;
}
