.schema {
  width: 700px;
  height: 450px;
  background-color: #adabc7;
}

.container {
  perspective: 1000px;
}

.screen-container {
  padding-bottom: 4vh;
}

.screen {
  background-color: #171430;
  width: 300px;
  height: 5px;
  padding-left: 1vw;
}

.seat {
  background-color: #a2a0ba;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.common {
  background-color: #444451;
}

.sofa {
  background-color: #ff4081;
}

.vip {
  background-color: darkorange;
}

.sold {
  background-color: #1F1F1F;
}

.reserved {
  background-color: #4b25db;
}

.booked {
  background-color: red !important;
}

.empty {
  background-color: #adabc7;
}

.seat:hover {
  cursor: pointer;
  transform: scale(1.2);
}

p {
  margin: 0;
  width: 1vw;
}
