<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="2vw">
  <div fxLayout="column">
    <form [formGroup]="addCinemaInput" (ngSubmit)="createCinema()">
      <div fxLayout="column">
        <mat-label class="option-title">Name</mat-label>
        <mat-form-field>
          <mat-label>Enter cinema name</mat-label>
          <input formControlName="name" matInput placeholder="Super Cinema 3D"
                 type="text">
          <mat-error>Name is required</mat-error>
        </mat-form-field>
        <mat-label class="option-title">Description</mat-label>
        <mat-form-field>
          <mat-label>Enter cinema description</mat-label>
          <textarea matInput maxlength="1000" formControlName="description" #description></textarea>
          <mat-hint align="end">{{description.value.length}} / 1000</mat-hint>
          <mat-error>Description is required</mat-error>
        </mat-form-field>
        <mat-label class="option-title">City</mat-label>
        <mat-form-field>
          <mat-label>Enter the city</mat-label>
          <input formControlName="city" matInput
                 type="text">
          <mat-error>City is required</mat-error>
        </mat-form-field>
        <mat-label class="option-title">Image URL</mat-label>
        <mat-form-field>
          <mat-label>Enter image URL</mat-label>
          <input formControlName="imageUrl" matInput
                 type="text">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-button color="primary" [disabled]="!addCinemaInput.valid">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="3vh">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="15vw">
      <mat-label class="option-title">Halls</mat-label>
      <button mat-button color="accent" (click)="onAddCinemaClick()">Add hall</button>
    </div>
    <mat-selection-list #selectedHall [multiple]="false"
                        (click)="openEditHallDialog(selectedHall.selectedOptions.selected[0]?.value)">
      <mat-list-option *ngFor="let hall of halls" [value]="hall">
        {{hall.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

