<div fxLayout="row" fxLayoutAlign="space-between start" class="cinema-container">
  <img [src]="cinema.imageUrl" height="200px">
  <div fxLayout="column" fxLayoutAlign="end end" class="cinema-name">
    <mat-card-title>{{cinema.name}}</mat-card-title>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
      <app-hall-free-seats-bar></app-hall-free-seats-bar>
    </div>
  </div>
</div>
